*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar Header */
header {
    background-color: black;
    height: 500px;
}

.nav-container {
    display: flex;
    margin-left: 5%;
    border-bottom: 1px solid #fff;
    height: 100px;
    width: 90%;
}

.left-nav {
    padding-left: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 4%;
}

.bmw-title {
    color: #fff;
}

.right-nav {
    display: flex;
    align-items: center;
}

.text-right-nav {
    display: flex;
    font-size: 20px;
    gap: 48px;
    font-weight: bold;
    padding-right: 48px;
    list-style-type: none;
}

li>a {
    border: 2px solid #fff;
    padding: 3px 36px;
    border-radius: 10px;
}

li>a:hover {
    background-color: #fff;
}

.text-menu {
    color: #fff;
    text-decoration: none;
}

.text-menu:hover {
    cursor: pointer;
    color: #008ac9;
    transition: all 0.3s ease-in-out;
}

.title-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;
    margin-top: 5%;

}

.text-title-1 {
    font-size: 40px;
    color: #fff;
}

.text-title-2 {
    font-size: 36px;
    font-weight: 100;
    color: #fff;
}

.btn-header {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    margin-left: 5%;
    margin-top: 2%;
}

.btn-menu-1 {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1c69d4;
    color: #fff;
    border: none;
}

.btn-menu-1:hover {
    cursor: pointer;
    background-color: #fff;
    color: #008ac9;
    border: 2px solid #008ac9;
    transition: all 0.3s ease-in-out;
}

.btn-menu-2 {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-menu-2:hover {
    cursor: pointer;
    background-color: #fff;
    color: #008ac9;
    border: none;
    border: 2px solid #008ac9;
    transition: all 0.3s ease-in-out;
}

/* Section Card */
.title-2 {
    text-align: center;
    font-size: 48px;
    padding: 48px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.e30 {
    width: 100%;
}

.e36 {
    width: 100%;
    height: 463px;
}

.e46 {
    width: 100%;
    height: 480px;
}

.e90 {
    width: 100%;
    height: 480px;
}

.g20 {
    width: 100%;
}

.i8 {
    width: 100%;
    height: 463px;
}

.m3 {
    width: 100%;
}

.m4 {
    width: 100%;
    height: 463px;
}

h4 {
    font-size: 48px;
    color: #fff;
}

.text-card {
    font-size: 24px;
    color: grey;
}

/* Section Form */
.form-field {
    background-color: black;
}

form {
    display: flex;
    justify-content: center;
}

.title-3 {
    color: #fff;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-form-1 {
    width: 30%;
    height: fit-content;
    background-color: #222;
    color: #fff;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin-top: 10px;
}

.radio-btn-form {
    margin-top: 10px;
    padding-left: 20px;
}

.radio-btn {
    margin-top: 10px;
}

.box-input {
    width: 95%;
    height: 24px;
}

.checkbox-form {
    padding-left: 20px;
    margin-top: 10px;
    gap: 20px;
}

.checkbox-input {
    margin-top: 10px;
}

.btn-submit {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.btn-submit> button {
    width: 30%;
    height: 35px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-submit> button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #008ac9;
    border: none;
    border: 2px solid #008ac9;
    transition: all 0.3s ease-in-out;
}